.space {
    Width: 100%;
    height: 220px;
}

.Call {
    Width: 100%;
    height: 655px;
    display: flex;
    justify-content: center;

    .Left {
        height: 655px;
        width: 66%;

        .Conect {
            color: black;
            font-size: 22px;
            font-weight: 500;
            line-height: 20.37px;
            text-transform: uppercase;
            position: absolute;
            left: 150px;
            top: 1655px;
        }

        .Blue {
            background-color: #27c7ab;
            position: absolute;
            left: 150px;
            top: 1685px;
            width: 320px;
            height: 8px;
        }

        .Button {
            width: 633px;
            height: 64px;
            border: 1px solid rgba(36, 186, 160, 0.42);
            position: absolute;
            top: 1737px;
            left: 148px;

            .Name {
                color: #cacaca;
                font-size: 33px;
                font-weight: 300;
                line-height: 20.37px;
                position: relative;
                top: 20px;
                left: 10px;
            }
        }

        .ButtonTwo {
            width: 633px;
            height: 64px;
            border: 1px solid rgba(36, 186, 160, 0.42);
            position: absolute;
            top: 1829px;
            left: 148px;

            .Email {
                color: #cacaca;
                font-size: 33px;
                font-weight: 300;
                line-height: 20.37px;
                position: relative;
                top: 20px;
                left: 10px;

            }
        }

        .ButtonThree {
            width: 633px;
            height: 190px;
            border: 1px solid rgba(36, 186, 160, 0.42);
            position: absolute;
            top: 1920px;
            left: 148px;

            .Message {
                color: #cacaca;
                font-size: 33px;
                font-weight: 300;
                line-height: 20.37px;
                position: relative;
                top: 20px;
                left: 10px;
            }

        }

        //.Copy{
        //    width: 633px;
        //    height: 190px;
        //position: absolute;
        //    top:2205px;
        //    left:145px;
        //    color: #9b9b9b;
        //    font-size: 16px;
        //    font-weight: 500;
        //    line-height: 21.37px;
        //}
    }
}

.Right {
    width: 34%;
    height: 655px;

    .Chair {

        position: absolute;
        top: 1700px;
        left: 855px;
    }

    .Okimg {

        .Personal {
            width: 300px;
            height: 42px;
            position: absolute;
            top: 1950px;
            right: 150px;

            span {
                color: #aeaeae;
                font-size: 20px;
                font-weight: 300;
                line-height: 22.37px;
            }
        }

        .Border {
            width: 51px;
            height: 47px;
            border: 1px solid rgba(36, 186, 160, 0.42);
            position: absolute;
            top: 1950px;
            right: 464px;
        }
    }

    .Send {
        position: absolute;
        top: 2035px;
        right: 170px;

        button {
            background-color: #27c7ab;
            border-radius: 5px;
            width: 343px;
            height: 71px;
            color: #ffffff;
            font-size: 34px;
            font-weight: 700;
            line-height: 20.37px;
            text-transform: uppercase;
        }
    }

    footer {
        width: 633px;
        height: 190px;
        position: absolute;
        top: 2185px;
        left: 145px;
        color: #9b9b9b;
        font-size: 16px;
        font-weight: 500;
        line-height: 21.37px;

        .Ok {
            position: relative;
            left: 325px;
            top: 5px;
        }

        .Vimeo {
            position: relative;
            left: 325px;
            top: 5px;
        }

        .Print {
            position: relative;
            left: 325px;
            top: 5px;
        }

        .Twitter {
            position: relative;
            left: 325px;
            top: 5px;
        }

        .Sit {
            color: #9b9b9b;
            font-size: 20px;
            font-weight: 400;
            line-height: 21.37px;
            text-transform: uppercase;
            position: relative;
            left: 385px;
        }

        .On {
            color: #9b9b9b;
            font-size: 20px;
            line-height: 21.37px;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 1px;
            position: relative;
            left: 386px;

        }

        .Chairfoot {

            color: #9b9b9b;
            font-size: 20px;
            font-weight: 400;
            line-height: 21.37px;
            text-transform: uppercase;
            position: relative;
            left: 990px;
            bottom: 20px;
        }
    }
}
