.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #f1f1f1;
    width: 100%;
    //height: 730px;

    //background-color: #f9f9f9;
    //color:white;

    h1 {
        width: 320px;
        border-bottom: 8px solid #27c7ab;;
        padding-bottom: 4px;
    }

    .elements-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 1050px;
        max-width: 98%;
        height: 658px;

        .circle {
            border-radius: 50%;
            border: solid 2px gray;
            background: white;
            padding: 45px;
            position: relative;
            top: 50px;
        }

        .text {
            color: #c6c6c6;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            text-transform: uppercase;
            position: relative;
            top: 50px;
        }

        > :first-child {

            .number-container {

                span > :first-child {
                    color: #c2c2c2;
                    font-size: 50px;
                    font-weight: 700;
                }

                span > :nth-child(2) {
                    color: #c2c2c2;
                    font-size: 45px;
                    font-weight: 700;
                    line-height: 20px;


                }

                span > :last-child {
                    color: #c2c2c2;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 20px;
                    position: relative;
                    bottom: 23px;

                }

            }

            button {
                margin-top: 114px;
            }
        }

        > .element:nth-child(2) {
            background: #27c7ab;
            //color: #27c7ab;

            .number-container {

                span > :first-child {
                    color: #27c7ab;
                    font-size: 50px;
                    font-weight: 700;
                }

                span > :nth-child(2) {
                    color: #27c7ab;
                    font-size: 45px;
                    font-weight: 700;
                    line-height: 20px;


                }

                span > :last-child {
                    color: #27c7ab;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 20px;
                }
            }

            button {
                margin-top: 70px;
            }


            h2 {
                color: #f1f1f1;
            }

            .dot-container {
                background: #27c7ab;
                border: 0px;

                .dot {
                    background: white;
                }


            }
        }


        > :last-child {
            .number-container {

                span > :first-child {
                    color: #c2c2c2;
                    font-size: 50px;
                    font-weight: 700;
                }

                span > :nth-child(2) {
                    color: #c2c2c2;
                    font-size: 45px;
                    font-weight: 700;
                    line-height: 20px;


                }

                span > :nth-child(3) {
                    color: #c2c2c2;
                    font-size: 45px;
                    font-weight: 700;
                    line-height: 20px;

                }

                span > :last-child {
                    color: #c2c2c2;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 20px;


                }
            }

            button {
                margin-top: 20px;
            }

        }

        .element {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: flex-start;
            width: 32%;
            background: #f9f9f9;
            border: 1px solid gray;
            height: 500px;
            margin-top: 90px;
            margin-right: 10px;


            .dot-container {
                display: flex;
                justify-content: center;
                align-items: center;

                border-radius: 50%;
                width: 40px;
                height: 40px;
                margin-top: -15px;

                border: solid 2px gray;
                background: white;
                padding: 19px;

                .dot {
                    opacity: 0.5;
                    border-radius: 50%;
                    width: 50%;
                    height: 50%;
                    border: solid 10px black;

                    &.middle {
                        opacity: 1;
                        background:white;
                        border: solid 10px white;
                    }
                }
            }

            h2 {
                color: #27c7ab;
            }

            .price-container {
                text-align: center;

                .text {

                }
            }

            .lines-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-items: flex-start;
                width: 100%;
                margin-top: 90px;

                span {
                    width: 100%;
                    height: 46px;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 20px;
                }

                .line {
                    text-align: center;
                    width: 98%;
                    color: black;
                    background: #DCDCDC;

                    &.darker {
                        color: black;
                        background: #C0C0C0;
                    }

                    &.ligher {
                        color: black;
                        background: #f9f9f9;
                    }

                }

                button {
                    background: #27c7ab;
                    border-radius: 5px;
                    width: 122px;
                    height: 34px;
                    color: #ffffff;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 20px;
                    text-transform: uppercase;
                }
            }
        }
    }


    //.Prizes {
    //    width: 81px;
    //    height: 3px;
    //    color: #575757;
    //    font-size: 22px;
    //    font-weight: 500;
    //    line-height: 20.37px;
    //    text-transform: uppercase;
    //    position: relative;
    //    top: 46px;
    //    left: 141px;
    //
    //}
    //
    //.blue {
    //    width: 320px;
    //    height: 8px;
    //    background-color: #27c7ab;
    //    position: relative;
    //    left: 141px;
    //    top: 75px;
    //}

    .Entire {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: start;
        margin: 10px;

        .Basic {

            width: 27%;
            height: 500px;
            border: 2px solid #d6d5d5;
            background-color: #f9f9f9;
            position: relative;
            Top: 150px;
            left: 145px;


            .Plan {
                color: #27c7ab;
                font-size: 26px;
                font-weight: 400;
                line-height: 20px;
                text-transform: uppercase;
                text-align: center;
                position: relative;
                top: 30px;
            }

            .Circle {
                border: solid 2px gray;
                background: white;
                padding: 25px;
                border-radius: 50%;
                height: 130px;
                width: 125px;
                position: relative;
                top: 50px;
                left: 99px;
            }

            .Cont {


                .Eight {
                    width: 50px;
                    height: 39px;
                    color: #c2c2c2;
                    font-size: 45px;
                    font-weight: 700;
                    line-height: 20px;
                    position: relative;
                    bottom: 35px;
                    left: 128px;
                }

                .Five {
                    width: 50px;
                    height: 39px;
                    color: #c2c2c2;
                    font-size: 45px;
                    font-weight: 700;
                    line-height: 20px;
                    position: relative;
                    bottom: 35px;
                    left: 130px;
                }

                //
                ////Span {
                //    color: #c2c2c2;
                //    font-size: 16px;
                //    font-weight: 700;
                //    line-height: 20px;
                //    position: relative;
                //    bottom: 70px;
                //    left: 128px;
                //}

                .PLN {
                    color: #c6c6c6;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 20px;
                    text-transform: uppercase;
                    position: relative;
                    left: 55px;
                    bottom: 10px;
                }
            }

            .Buy {

                text-align: center;
                width: 100%;
                height: 46px;
                background: #d9d9d9;
                position: relative;
                top: 50px;
                color: #939393;
                font-size: 24px;
                font-weight: 400;
                line-height: 20px;


            }

            .Service {
                text-align: center;
                width: 100%;
                height: 46px;
                background: #e6e6e6;
                position: relative;
                top: 50px;
                color: #787878;
                font-size: 24px;
                font-weight: 400;
                line-height: 20px;
            }

            .Join {
                position: relative;
                top: 300px;
                left: 100px;


                //button {
                //    background: #27c7ab;
                //    border-radius: 5px;
                //    width: 122px;
                //    height: 34px;
                //    color: #ffffff;
                //    font-size: 16px;
                //    font-weight: 500;
                //    line-height: 20px;
                //    text-transform: uppercase;
                //    position: relative;
                //    bottom: 150px;
                //}
            }
        }

        .Basic:Before {
            content: '';
            border: solid 2px gray;
            background: white;
            padding: 19px;
            border-radius: 50%;
            position: relative;
            left: 138px;
            bottom: 22px;
        }

        .Basic:After {
            content: " ";
            border: solid 10px black;
            border-radius: 50%;
            position: relative;
            left: 149px;
            bottom: 340px;
        }

        .Standard {


            background-color: #27c7ab;

            width: 27%;
            height: 500px;
            border: 2px solid #27c7ab;

            position: relative;
            Top: 150px;
            left: 145px;
            margin-left: 28px;


            .Plan {
                color: #ffffff;;
                font-size: 26px;
                font-weight: 400;
                line-height: 20px;
                text-transform: uppercase;
                text-align: center;
                position: relative;
                top: 30px;
            }

            .Circle {
                border: solid 2px gray;
                background: white;
                padding: 25px;
                border-radius: 50%;
                height: 130px;
                width: 125px;
                position: relative;
                top: 50px;
                left: 99px;
            }

            .Cont {


                .Eight {
                    width: 50px;
                    height: 39px;
                    color: #27c7ab;
                    font-size: 45px;
                    font-weight: 700;
                    line-height: 20px;
                    position: relative;
                    bottom: 45px;
                    left: 131px;
                }

                .Five {
                    width: 50px;
                    height: 39px;
                    color: #27c7ab;
                    font-size: 45px;
                    font-weight: 700;
                    line-height: 20px;
                    position: relative;
                    bottom: 50px;
                    left: 132px;
                }

                Span {
                    color: #27c7ab;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 20px;
                    position: relative;
                    bottom: 75px;
                    left: 133px;
                }

                .PLN {
                    color: #27c7ab;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 20px;
                    text-transform: uppercase;
                    position: relative;
                    left: 55px;
                    bottom: 10px;
                }
            }

            .Buy {

                text-align: center;
                width: 100%;
                height: 46px;
                background: white;
                position: relative;
                top: 50px;
                color: #939393;
                font-size: 24px;
                font-weight: 400;
                line-height: 20px;


            }

            .Service {
                text-align: center;
                width: 100%;
                height: 46px;
                background-color: #f1f1f1;
                position: relative;
                top: 50px;
                color: #787878;
                font-size: 24px;
                font-weight: 400;
                line-height: 20px;
            }

            .warranty {
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 46px;
                background: white;
                position: relative;
                top: 50px;
                color: #939393;
                font-size: 24px;
                font-weight: 400;
                line-height: 20px;

            }

            .Join {
                position: relative;
                top: 300px;
                left: 100px;


                //button {
                //    background: #ffffff;
                //    border-radius: 5px;
                //    width: 122px;
                //    height: 34px;
                //    color: #27c7ab;
                //    font-size: 16px;
                //    font-weight: 500;
                //    line-height: 20px;
                //    text-transform: uppercase;
                //    position: relative;
                //    bottom: 190px;
                //    left: 5px;
                //}
            }
        }

        .Standard:Before {
            content: '';
            border: solid 2px gray;
            background: #27c7ab;
            padding: 19px;
            border-radius: 50%;
            position: relative;
            left: 138px;
            bottom: 22px;
        }

        .Standard:After {
            content: " ";
            border: solid 10px white;
            border-radius: 50%;
            position: relative;
            left: 149px;
            bottom: 385px;

        }

        .Advice {

            height: 500px;
            width: 27%;
            border: 2px solid #d6d5d5;
            background-color: #f9f9f9;
            position: relative;
            Top: 150px;
            left: 145px;
            margin-left: 32px;


            .Plan {
                color: #27c7ab;
                font-size: 26px;
                font-weight: 400;
                line-height: 20px;
                text-transform: uppercase;
                text-align: center;
                position: relative;
                top: 30px;
            }

            .Circle {
                border: solid 2px gray;
                background: white;
                padding: 25px;
                border-radius: 50%;
                height: 130px;
                width: 125px;
                position: absolute;
                top: 80px;
                left: 99px;
            }

            .Cont {


                .Eight {
                    width: 50px;
                    height: 39px;
                    color: #c2c2c2;
                    font-size: 45px;
                    font-weight: 700;
                    line-height: 20px;
                    position: relative;
                    top: 90px;
                    left: 114px;
                    margin-left: 2px;
                }

                Span {
                    color: #c2c2c2;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 20px;
                    position: relative;
                    top: 65px;
                    left: 119px;
                }

                .PLN {
                    color: #c6c6c6;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 20px;
                    text-transform: uppercase;
                    position: relative;
                    left: 45px;
                    top: 110px;
                }
            }

            .Buy {
                align-items: center;
                width: 100%;
                height: 46px;
                background: #d9d9d9;
                position: relative;
                top: 196px;
                color: #939393;
                font-size: 24px;
                font-weight: 400;
                line-height: 20px;


            }

            .Service {
                text-align: center;
                width: 100%;
                height: 46px;
                background: #e6e6e6;
                position: relative;
                top: 26px;
                color: #787878;
                font-size: 24px;
                font-weight: 400;
                line-height: 20px;
            }

            .warranty {
                text-align: center;
                width: 100%;
                height: 46px;
                background: #d9d9d9;
                position: relative;
                top: 25px;
                color: #939393;
                font-size: 24px;
                font-weight: 400;
                line-height: 20px;
            }

            .guide {
                text-align: center;
                width: 100%;
                height: 46px;
                background: #e6e6e6;
                position: relative;
                top: 25px;
                color: #787878;
                font-size: 24px;
                font-weight: 400;
                line-height: 20px;
            }

            .Join {
                position: relative;
                top: 130px;


                //button {
                //    background: #27c7ab;
                //    border-radius: 5px;
                //    width: 122px;
                //    height: 34px;
                //    color: #ffffff;
                //    font-size: 16px;
                //    font-weight: 500;
                //    line-height: 20px;
                //    text-transform: uppercase;
                //    position: relative;
                //    bottom: 95px;
                //    left: 105px;
                //}
            }
        }

        .Advice:Before {
            content: '';
            border: solid 2px gray;
            background: white;
            padding: 19px;
            border-radius: 100%;
            position: relative;
            left: 138px;
            bottom: 22px;
        }

        .Advice:After {
            content: " ";
            border: solid 10px black;
            border-radius: 50%;
            position: relative;
            left: 149px;
            bottom: 130px;
        }
    }
}