* {
    font-family: 'Raleway', sans-serif;
}

header {
    width: 100%;
    background: black;

    nav {
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction:row;

        p {
            width: 98px;
            color: #ffffff;
            font-size: 14px;
            font-weight: 400;
            line-height: 21.37px;
            text-transform: uppercase;
            position: relative;
            left: 72px;


            span {
                color: #27c7ab;
                font-weight: 800;
                letter-spacing: 0.7px;

            }

        }

        ul {

            display: flex;
            justify-content: flex-end;
            align-items: center;
            background: black;
            color: white;
            position: relative;
            right: 50px;
            margin-right: 20px;
            //li:nth-child(1){
            //    &:hover{
            //        opacity: 0;
            //        &:hover{
            //            padding: 40px;
            //            width: 10px;
            //            background-color: black;
            //            opacity: 1;
            //        }
            //    }
            //}
            //.dropbtn {
            //    background-color: black;
            //    color: white;
            //    padding: 16px;
            //    font-size: 16px;
            //    border: none;}
            //.dropdown {
            //    position: relative;
            //    display: inline-block;
            //
            //    .dropdown-content {
            //        display: none;
            //        position: absolute;
            //        background-color: #f1f1f1;
            //        min-width: 160px;
            //        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            //        z-index: 1;
            //        .dropdown-content a:hover {background-color: #ddd;}
            //
            //        .dropdown:hover .dropdown-content {display: block;}
            //
            //        .dropdown:hover .dropbtn {background-color: #3e8e41;}
            //    }
            //}
            li {
                align-items: center;
                display: flex;
                justify-content: center;
                background-color: black;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 0.7px;
                margin-left: 42px;
            }
        }
    }
}


@media (max-width: 850px) {
    .sec1{
     height:1000px;
 }
    nav {

        height: 100px;
        Width: 100%;
        display: flex;
        flex-direction: column;


        p {
            margin-right: 120px;
            display: flex;
            justify-content: flex-start;
        }

        ul {
            display: flex;
            background: green;
            margin-left: 70px;
        }
    }
    .sec1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       height: 1000px;
        background-image: linear-gradient(to top, #d0cfd7 0%, #eeeef0 34%, #fafafa 100%);

        .arrowleft{
            position: absolute;
            left:-130px !important;
            top:450px !important;
        }
        .Third{
            position: absolute;
            top:-300px;

        }
        .arrowright{
            position: absolute;
            top:-540px !important;
            left:300px !important;
        }
    }
    .img_container{
        position: absolute;
        top:450px;
        left:50px;
    }
}
