* {
    font-family: 'Raleway', sans-serif;
}

header {
    width: 100%;
    padding: 0px;
    background: black;

    nav {
        width: 89%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            width: 98px;
            height: 11px;
            color: #ffffff;
            font-size: 14px;
            font-weight: 400;
            line-height: 21.37px;
            text-transform: uppercase;
            position: relative;
            left: 72px;


            span {
                color: #27c7ab;
                font-weight: 800;
                letter-spacing: 0.7px;

            }

        }

        ul {
            width: 400px;
            display: flex;
            justify-content: flex-end;
            background: black;
            color: white;
            padding: 0;
            position: relative;
            right: 50px;
            margin-right: 20px;

            li {
                align-items: center;
                display: flex;
                justify-content: space-around;

                width: 80px;

                height: 10px;
                color: #ffffff;
                font-size: 14px;
                font-weight: 700;
                line-height: 21.37px;
                text-transform: uppercase;
                letter-spacing: 0.7px;
                margin-left: 25px;

            }
        }
    }
}

.Biggest {
    margin: 0 auto;
    Width: 100%;
    height: 500px;
    background: #eeeef0 34%;
    display: flex;

    .First {
        Width: 25%;
        height: 500px;


        color: #24baa0;
        font-size: 78px;
        font-weight: 300;
        line-height: 20.37px;

        a {
            position: relative;
            top: 250px;
            left: 100px;
        }


    }

    .Second {
        Width: 22%;
        height: 500px;
        display: flex;
        position: relative;
        bottom: 120px;

        img {


            position: relative;
            top: 200px;
            right: 170px;
        }
    }


    .Third {
        Width: 28%;
        height: 500px;
        text-align: center;
        margin-top: 145px;
        position: relative;
        bottom: 40px;
        left: 30px;

        .our {
            display: flex;
            justify-content: center;
            width: 353px;
            height: 30px;
            font-size: 40px;
            font-weight: 500;
            line-height: 20.37px;
            text-transform: uppercase;




            span {
                color: #24baa0;
                font-weight: 700;
            }
        }

        p {
            color: #000000;
            font-size: 14px;
            font-weight: 400;
            line-height: 21.37px;

            letter-spacing: 0.7px;

        }

        button {
            border-radius: 10px;
            margin-top: -8px;
            margin-right: 12px;
            width: 264px;
            height: 53px;
            background-color: #24baa0;

            span {
                width: 186px;
                height: 22px;
                color: #ffffff;
                font-size: 24px;
                font-weight: 500;
                line-height: 20.37px;
                text-transform: uppercase;
            }
        }
    }


    .Fourth {


        Width: 10%;
        height: 500px;

        color: #24baa0;
        font-size: 78px;
        font-weight: 300;
        line-height: 20.37px;

        position: relative;
        top: 250px;
        left: 100px;
    }
}

.main {
    Width: 90%;
    margin-top: 25px;
    margin-left: 68px;
    display: flex;
    justify-content: center;

    .CLAIR {
        Height: 330px;
        position: relative;
        top: 10px;
        right: 5px;

        .White {
            width: 355px;
            height: 62px;
            opacity: 0.42;
            position: relative;
            bottom: 70px;
        }

        .InWhite {

            position: relative;
            bottom: 130px;
            left: 15px;
            color: #000000;
            font-size: 16px;
            font-weight: 400;
            line-height: 20.37px;
        }

        .Blue {
            width: 150px;
            height: 7px;
            background-color: #27c7ab;
            position: relative;
            bottom: 130px;
        }
    }

    .MARGARITA {
        position: relative;
        top: 10px;
        right: 5px;

        .White {
            width: 355px;
            height: 62px;
            opacity: 0.42;
            position: relative;
            bottom: 70px;

        }

        .InWhite {

            position: relative;
            bottom: 130px;
            left: 15px;
            color: #000000;
            font-size: 16px;
            font-weight: 400;
            line-height: 20.37px;
        }

        .Blue {
            width: 150px;
            height: 7px;
            background-color: #27c7ab;
            position: relative;
            bottom: 130px;
        }
    }

    .Finds {
        position: relative;
        top: 10px;
        right: 5px;
        width: 338px;
        height: 252px;
        border: 1px solid rgba(0, 0, 0, 0.14);

        .InWhite {

            position: relative;
            top: 18px;
            left: 20px;
            color: #000000;
            font-size: 16px;
            font-weight: 400;
            line-height: 20.37px;
        }

        .Blue {
            width: 140px;
            height: 7px;
            background-color: #27c7ab;
            position: relative;
            top: 46px;
            left: 20px;
        }

        .Foot {

            margin-left: 10px;
            margin-right: 50px;
            position: relative;
            top: 50px;
            left: 17px;

            p {
                margin-top: 30px;
            }
        }
    }
}

.background {
    background-color: #f1f1f1;
    width: 100%;
    height: 730px;


    .Prizes {
        width: 81px;
        height: 3px;
        color: #575757;
        font-size: 22px;
        font-weight: 500;
        line-height: 20.37px;
        text-transform: uppercase;
        position: relative;
        top: 46px;
        left: 141px;

    }

    .blue {
        width: 320px;
        height: 8px;
        background-color: #27c7ab;
        position: relative;
        left: 141px;
        top: 75px;
    }

    .Entire {
        width: 100%;
        display: flex;
        justify-content: start;

        .Basic {

            width: 330px;
            height: 500px;
            border: 2px solid #d6d5d5;
            background-color: #f9f9f9;
            position: relative;
            Top: 150px;
            left: 145px;




            .Plan {
                color: #27c7ab;
                font-size: 26px;
                font-weight: 400;
                line-height: 20px;
                text-transform: uppercase;
                text-align: center;
                position: relative;
                top: 30px;
            }

            .Circle {
                border: solid 2px gray;
                background: white;
                padding: 25px;
                border-radius: 50%;
                height: 130px;
                width: 125px;
                position: absolute;
                top: 80px;
                left: 99px;
            }

            .Cont {


                .Eight {
                    width: 50px;
                    width: 50px;
                    height: 39px;
                    color: #c2c2c2;
                    font-size: 45px;
                    font-weight: 700;
                    line-height: 20px;
                    position: relative;
                    top: 90px;
                    left: 128px;
                }

                .Five {
                    width: 50px;
                    height: 39px;
                    color: #c2c2c2;
                    font-size: 45px;
                    font-weight: 700;
                    line-height: 20px;
                    position: relative;
                    top: 90px;
                    left: 130px;
                }

                Span {
                    color: #c2c2c2;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 20px;
                    position: relative;
                    top: 65px;
                    left: 128px;
                }
                .PLN{
                    color: #c6c6c6;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 20px;
                    text-transform: uppercase;
                    position: absolute;
                    right:120px;
                    top:160px;
                }
            }

            .Buy {

                text-align: center;
                width: 100%;
                height: 46px;
                background: #d9d9d9;
                position: relative;
                top: 196px;
                color: #939393;
                font-size: 24px;
                font-weight: 400;
                line-height: 20px;


            }

            .Service {
                text-align: center;
                width: 100%;
                height: 46px;
                background: #e6e6e6;
                position: relative;
                top: 196px;
                color: #787878;
                font-size: 24px;
                font-weight: 400;
                line-height: 20px;
            }

            .Join {
                position: relative;
                top: 300px;
                left: 100px;


                button {
                    background: #27c7ab;
                    border-radius: 5px;
                    width: 122px;
                    height: 34px;
                    color: #ffffff;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 20px;
                    text-transform: uppercase;
                }
            }
        }
        .Basic:Before {
            content: '';
            border: solid 2px gray;
            background: white;
            padding: 19px;
            border-radius: 50%;
            position: relative;
            left:138px;
            bottom:22px;
        }

        .Basic:After {
            content: " ";
            border: solid 10px black;
            border-radius: 50%;
            position: relative;
            left: 149px;
            bottom: 210px;
        }
        .Standard {


            background-color: #27c7ab;

            width: 330px;
            height: 500px;
            border: 2px solid #27c7ab;

            position: relative;
            Top: 150px;
            left: 145px;
            margin-left: 28px;

            .Standard:Before {
                content: '';
                border: solid 2px gray;
                background: white;
                padding: 25px;
                border-radius: 50%;
                position: absolute;
                left: 133px;
                bottom: 476px;
            }

            .Standard:After {
                content: " ";
                border: solid 11px black;
                border-radius: 50%;
                position: absolute;
                left: 148px;
                bottom: 490px;
            }

            .Plan {
                color: #ffffff;;
                font-size: 26px;
                font-weight: 400;
                line-height: 20px;
                text-transform: uppercase;
                text-align: center;
                position: relative;
                top: 30px;
            }

            .Circle {
                border: solid 2px gray;
                background: white;
                padding: 25px;
                border-radius: 50%;
                height: 130px;
                width: 125px;
                position: absolute;
                top: 80px;
                left: 99px;
            }

            .Cont {


                .Eight {
                    width: 50px;
                    height: 39px;
                    color: #27c7ab;
                    font-size: 45px;
                    font-weight: 700;
                    line-height: 20px;
                    position: relative;
                    top: 88px;
                    left: 131px;
                }

                .Five {
                    width: 50px;
                    height: 39px;
                    color: #27c7ab;
                    font-size: 45px;
                    font-weight: 700;
                    line-height: 20px;
                    position: relative;
                    top: 87px;
                    left: 132px;
                }

                Span {
                    color: #27c7ab;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 20px;
                    position: relative;
                    top: 60px;
                    left: 133px;
                }
                .PLN{
                    color: #27c7ab;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 20px;
                    text-transform: uppercase;
                    position: absolute;
                    right:120px;
                    top:160px;
                }
            }

            .Buy {

                text-align: center;
                width: 100%;
                height: 46px;
                background: white;
                position: relative;
                top: 196px;
                color: #939393;
                font-size: 24px;
                font-weight: 400;
                line-height: 20px;


            }

            .Service {
                text-align: center;
                width: 100%;
                height: 46px;
                background-color: #f1f1f1;
                position: relative;
                top: 196px;
                color: #787878;
                font-size: 24px;
                font-weight: 400;
                line-height: 20px;
            }

            .warranty{
                text-align: center;
                display:flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 46px;
                background: white;
                position: relative;
                top: 196px;
                color: #939393;
                font-size: 24px;
                font-weight: 400;
                line-height: 20px;

            }
            .Join {
                position: relative;
                top: 300px;
                left: 100px;


                button {
                    background: #27c7ab;
                    border-radius: 5px;
                    width: 122px;
                    height: 34px;
                    color: #ffffff;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 20px;
                    text-transform: uppercase;
                    position: relative;
                    bottom:47px;
                    left: 5px;
                }
            }
        }
        .Standard:Before {
            content: '';
            border: solid 2px gray;
            background: white;
            padding: 19px;
            border-radius: 50%;
            position: relative;
            left:138px;
            bottom:22px;
        }

        .Standard:After {
            content: " ";
            border: solid 10px black;
            border-radius: 50%;
            position: relative;
            left:149px;
            bottom:255px;
        }
        .Advice {

            height: 500px;


            width: 326px;

            border: 2px solid #d6d5d5;
            background-color: #f9f9f9;
            position: relative;
            Top: 150px;
            left: 145px;
            margin-left:32px;


            .Advice:Before {
                content: " ";
                border: solid 2px gray;
                background: white;
                padding: 25px;
                border-radius: 50%;
                position: absolute;
                left: 133px;
                bottom: 476px;
            }

            .Advice:After {
                content: " ";
                border: solid 11px black;
                border-radius: 50%;
                position: absolute;
                left: 148px;
                bottom: 490px;
            }
            .Plan {
                color: #27c7ab;
                font-size: 26px;
                font-weight: 400;
                line-height: 20px;
                text-transform: uppercase;
                text-align: center;
                position: relative;
                top: 30px;
            }

            .Circle {
                border: solid 2px gray;
                background: white;
                padding: 25px;
                border-radius: 50%;
                height: 130px;
                width: 125px;
                position: absolute;
                top: 80px;
                left: 99px;
            }

            .Cont {


                .Eight {
                    width: 50px;
                    height: 39px;
                    color: #c2c2c2;
                    font-size: 45px;
                    font-weight: 700;
                    line-height: 20px;
                    position: relative;
                    top: 90px;
                    left: 114px;
                    margin-left: 2px;
                }

                Span {
                    color: #c2c2c2;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 20px;
                    position: relative;
                    top: 65px;
                    left: 119px;
                }
                .PLN{
                    color: #c6c6c6;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 20px;
                    text-transform: uppercase;
                    position: absolute;
                    right:120px;
                    top:160px;
                }
            }

            .Buy {
                align-items: center;
                width: 100%;
                height: 46px;
                background: #d9d9d9;
                position: relative;
                top: 196px;
                color: #939393;
                font-size: 24px;
                font-weight: 400;
                line-height: 20px;


            }

            .Service {
                text-align: center;
                width: 100%;
                height: 46px;
                background: #e6e6e6;
                position: relative;
                top:26px;
                color: #787878;
                font-size: 24px;
                font-weight: 400;
                line-height: 20px;
            }
            .warranty{
                text-align: center;
                width: 100%;
                height: 46px;
                background: #d9d9d9;
                position: relative;
                top: 25px;
                color: #939393;
                font-size: 24px;
                font-weight: 400;
                line-height: 20px;
            }
            .guide{
                text-align: center;
                width: 100%;
                height: 46px;
                background: #e6e6e6;
                position: relative;
                top:25px;
                color: #787878;
                font-size: 24px;
                font-weight: 400;
                line-height: 20px;
            }
            .Join {
                position: relative;
top:130px;



                button {
                    background: #27c7ab;
                    border-radius: 5px ;
                    width: 122px;
                    height: 34px;
                    color: #ffffff;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 20px;
                    text-transform: uppercase;
                    position: relative;
                    bottom:95px;
                    left:105px;
                }
            }
        }
        .Advice:Before {
            content: '';
            border: solid 2px gray;
            background: white;
            padding: 19px;
            border-radius: 50%;
            position: relative;
            left:138px;
            bottom:22px;
        }

        .Advice:After {
            content: " ";
            border: solid 10px black;
            border-radius: 50%;
            position: relative;
            left: 149px;
            bottom: 130px;
        }
            }
        }


