* {
    font-family: 'Raleway', sans-serif;
}

header {
    width: 100%;
    background: black;

    nav {
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            width: 98px;
            color: #ffffff;
            font-size: 14px;
            font-weight: 400;
            line-height: 21.37px;
            text-transform: uppercase;
            position: relative;
            left: 72px;


            span {
                color: #27c7ab;
                font-weight: 800;
                letter-spacing: 0.7px;

            }

        }

        ul {

            display: flex;
            justify-content: flex-end;
            background: black;
            color: white;
            position: relative;
            right: 50px;
            margin-right: 20px;
            li:nth-child(1){
                &:hover{
                    opacity: 0;
                    &:hover{
                        padding: 40px;
                        width: 10px;
                        background-color: black;
                        opacity: 1;
                    }
                }
            }

            li {
                align-items: center;
                display: flex;
                justify-content: center;
                background-color: black;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 0.7px;
                margin-left: 42px;
            }
        }
    }
}


@media (max-width: 680px) {
    nav {
        height: 100px;
        Width: 100%;
        display: flex;
        flex-direction: column;

        p {
            margin-right: 120px;
            display: flex;
            justify-content: flex-start;
        }
    }
    ul {
        display: flex;
        background: green;
        margin-left: 70px;
    }

    .Biggest {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .First {

            img {
                display: flex;
                justify-content: center;
            }
        }

        .Second {

        }

        .Third {


        }
    }
}
